@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
.swal2-popup {
    width: min(90rem, 92vw) !important;
    font-size: 1.9rem;
}
.titulos--h2{
    margin-bottom: 2rem;
    h2{
            font-size: 2.2rem;
            color: v.$gris-oscuro;
            margin: 0;     
        }
        p{
            color: v.$gris;
            margin: .8rem 0 0 0;
        }
}
.m__bottom{
    margin-bottom: 2rem;
}