@use 'base/variables' as v;
@use 'base/mixins' as m;
.ofertas{
    padding: 7rem 0;
    background-color: lighten(v.$gris, 47%);
        &__contenedor{
            @include m.contenedor;
        }
        &__heading{
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-bottom: 5rem;
                h2{
                    margin: 0;
                    color: v.$azul;
                    font-size: 3rem;
                    font-weight: v.$bold;
                    white-space: nowrap;
                }
        }
        &__linea{
            flex: 1;
            height: 1px;
            background-color: lighten(v.$gris, 35%);
        }
        &__slider{
            width: 100%;
            border-radius: 1rem;
            overflow: hidden;
            @include m.shadow;
        }
        &__slide{
            min-height: 30rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
                 @include m.tablet{
                    min-height: 42rem;
                }

                @include m.desktop{
                    min-height: 55rem;
                }
                 &--promo1{
                        background-image: url('/build/img/promo1.png');
                    }
                 &--promo2{
                        background-image: url('/build/img/promo2.png');
                    }
                &--promo3{
                        background-image: url('/build/img/promo3.png');
                    }
        }

        .swiper-button-prev,
        .swiper-button-next{
            color: v.$blanco;
            @include m.tablet{
                display: flex;
            }
        }

        .swiper-pagination-bullet{
            background: v.$blanco;
            opacity: .6;

            &-active{
                opacity: 1;
            }
        }
        }
