@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones{
    &--tabla{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__editar,
    &__eliminar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border: none;
        border-radius: 1.5rem;
        cursor: pointer;
        transition: all .3s ease;
        text-decoration: none;
    }
    &__editar{
    background-color: rgba(0, 125, 244, .15);
    color: v.$azul-secundario;
        &:hover{
            background-color: v.$azul-secundario;
            color: v.$blanco;
        }
    }

    &__eliminar{
    background-color: rgba(220, 38, 38, .15);
    color: v.$rojo;
        &:hover{
            background-color: v.$rojo;
            color: v.$blanco;
        }
    }
}
.boton__desabilitado{
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
}
.btn{
    &__acciones{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
    }
    &__azul{
        @include m.centrado;
        gap: 1rem;
        border: none;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        font-weight: v.$bold;
        padding: 1.4rem 2.5rem;
        cursor: pointer;
        margin-bottom: 2rem;
            &:hover{
                background-color: darken(v.$azul, 10%);
            }
    }
    &__transparente{
        @include m.centrado;
        gap: 1rem;
        color: v.$azul;
        font-weight: v.$bold;
        border: 1px solid v.$gris;
        border-radius: 1.5rem;
        padding: 1.4rem 2.5rem;
        cursor: pointer;
        transition: background-color .3s ease, color .3s ease;
            &:hover{
                background-color: lighten(v.$azul, 55%);
                color: v.$azul;
                border-color: v.$azul;
            }
    }
}
