@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.clientes{
   &__header{
    margin-bottom: 3rem;
   }
   &__header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
   }
   &__header--info{
    h2{
        margin: 0;
        font-size: 2.4rem;
        color: v.$gris-oscuro;
    }
    p{
        margin: .8rem 0 0 0;
        color: v.$gris;
    }
   }
   &__acciones{
    display: flex;
    align-items: center;
    gap: 2rem;
   }
   &__accion{
    @include m.centrado;
    gap: 1rem;
    height: 4.9rem;
    padding: 0 2rem;
    border-radius: 1rem;
    font-weight: v.$bold;
    transition: all .3s ease;
        &--primary,
        &--secundario{
            background-color: v.$azul;
            color: v.$blanco;
            &:hover{
                background-color: darken(v.$azul, 10%);
            }
        }
   }
   &__filtros{
    @include m.grid(5, 2rem);
    align-items: flex-end;
   }
   &__acciones--filtros{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 2rem;
        .busqueda__filtros{
             @include m.centrado;
            gap: 1rem;
            height: 4.9rem;
            padding: 0 2rem;
            border: 1px solid lighten(v.$gris, 25%);
            border-radius: 1rem;
            background-color: transparent;
            color: v.$azul;
            font-weight: v.$bold;
            cursor: pointer;
            transition: all .3s ease;
                &:hover{
                background-color: lighten(v.$azul, 55%);
                border-color: v.$azul;
            }
        }
   }

   &__tabla{
    margin-bottom: 3rem;
   }
   &__tabla-header{
    h3{
        font-size: 2.2rem;
        color: v.$gris-oscuro;
        margin: 0 0 2rem 0;
    }
   }
   &__grid{
    display: grid;
    grid-template-columns:  1fr 1.2fr 1.2fr 1fr 1.4fr auto;
    gap: 2rem;
    align-items: center;
    padding: 1.8rem 0;
   }
   &__fila{
        transition: background-color .3s ease;
        &:hover{
            background-color: lighten(v.$gris-claro, 1%);
        }
    }
    &__nombre{
        font-weight: v.$bold;
    }
}