@use 'base/variables' as v;

.estado{
    width: fit-content;
    padding: .8rem 1.4rem;
    border-radius: 5rem;
    font-size: 1.8rem;
    font-weight: v.$bold;
    margin-right: auto;

    &--proceso{
        background-color: rgba(245, 158, 11, .15);
        color: #d97706;
    }

    &--confirmado{
        background-color: rgba(0, 125, 244, .12);
        color: v.$azul-secundario;
    }

    &--completado{
        background-color: rgba(22, 163, 74, .12);
        color: v.$verde;
    }

    &--cancelado{
        background-color: rgba(220, 38, 38, .15);
        color: v.$rojo;
    }

    &--nuevo{
        background-color: rgba(107, 114, 128, .12);
        color: v.$gris;
    }
}