@use 'base/variables' as v;
@use 'base/mixins' as m;

.pedidos{
    &__filtros{
        @include m.grid(5, 2rem);
        align-items: flex-end;
    }
    &__acciones-filtros{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        margin-top: 2rem;
    }
}